{
  "env": {
    "development": {
      "presets": ["@ornery/next.js/babel"]
    },
    "production": {
      "presets": ["@ornery/next.js/babel"]
    },
    "test": {
      "presets": [["@ornery/next.js/babel", { "preset-env": { "modules": "commonjs" } }]]
    }
  }
}
